* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 100%, 74%);
  background-image: url("../img/bg-intro-desktop.png");
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  max-width: 1200px;
  height: 80vh;
  justify-content: space-between;
  padding: 0 3rem;
}

.content {
  margin-right: 6rem;
  align-self: center;
}

.content h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: bold;
  line-height: 3.8rem;
  margin-bottom: 25px;
}

.content p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.6rem;
}

.container-form {
  align-self: center;
}

.container-form form {
  grid-template-columns: 1fr;
  display: grid;
  background-color: #fff;
  border-radius: 0.6rem;
  justify-content: space-between;
  padding: 2.5rem;
  height: 50vh;
}

.container-form input {
  height: 3rem;
  border: 1px solid #c7c7c7;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-weight: bold;
}

.call-to-action {
  background-color: hsl(248, 32%, 49%);
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  padding: 1.3rem;
  border-radius: 0.6rem;
}
